/*
GENERAL
*/


/*-----------------------------------------------
*    header
-----------------------------------------------*/
.bird-box {
    position: relative;
    height: 600px;
    background: url(../img/bird-bg.jpg) top center no-repeat;
    background-size: contain;
    overflow: hidden;
    background-attachment: fixed; /*這個超重要*/

}

.logo {
    height: 100px;
    width: 100%;
    background: url(../img/black-bird-logo.svg) center center no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.fore-bird {
    width: 960px;
    height: 733px;
    background: url(../img/fore-bird.png) right bottom no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    top: 380px;
}

.back-bird {
    width: 960px;
    height: 298px;
    background: url(../img/back-bird.png) top left no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -480px;
}
/*-----------------------------------------------
*    main
-----------------------------------------------*/
#main {
    text-align: center;
    width: 40%;
}

#main h1 {
    padding: 20px 0;
}

#main p {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    height: 2000px;
}

.clothes {
    margin-top: 40px;
}

.clothes figure {
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
    padding-left: 0;
    overflow: hidden;
}
/*-----------------------------------------------
*    model animate
-----------------------------------------------*/
.clothes figure.show {
    opacity: 1;
    transform: translateX(0px);
}

/*-----------------------------------------------
*    large window
-----------------------------------------------*/
.large-window {
    margin-top: 40px;
    height: 500px;
    background: url(../img/model2.jpg) top center no-repeat;
    background-attachment: fixed;
    border-radius: 50%;
}

.clothes figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background-color: #000;
    color: #fff;
    padding: 0 10px;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
}
/*-----------------------------------------------
*    footer
-----------------------------------------------*/
